@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="px-2 py-5 my-1">
        Здравей, @User.Identity?.Name!
    </li>
    <li class="px-2 py-5 my-1">
        <a asp-controller="Account" asp-action="SignOut">Изход</a>
    </li>
}
else
{
    <li class="px-2 py-5 my-1">
        <a asp-controller="Account" asp-action="Register">Регистрирай се</a>
    </li>
    <li class="px-2 py-5 my-1">
        <a asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}


