@model RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<h1>Регистрация</h1>

<div class="register-container">
    <form asp-action="Register" method="post" class="register-form">
        <div class="form-group">
            <label asp-for="FirstName" class="form-label">Първо Име:</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="form-label">Фамилия:</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EmailAddress" class="form-label">Имейл:</label>
            <input asp-for="EmailAddress" type="email" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="form-label">Парола:</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Повтори паролата:</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Регистрирай се</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
