@model Nicopolis_Ad_Istrum.Models.ViewModels.AddExhibitViewModel

@{
    ViewData["Title"] = "Add Exhibit";
}

<h2>@ViewData["Title"]</h2>

<form method="post" enctype="multipart/form-data">

    <div class="form-group mb-3">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control" required></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="PhotoFileName">Photo</label>
        <input type="file" asp-for="PhotoFileName" class="form-control" required />
        <span asp-validation-for="PhotoFileName" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Origin">Origin</label>
        <input type="text" asp-for="Origin" class="form-control" required />
        <span asp-validation-for="Origin" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="EraId">Era</label>
        <select asp-for="EraId" asp-items="Model.Eras" class="form-control" required></select>
        <span asp-validation-for="EraId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="CollectionId">Collection</label>
        <select asp-for="CollectionId" asp-items="Model.Collections" class="form-control" required></select>
        <span asp-validation-for="CollectionId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="AcquisitionId">Acquisition</label>
        <select asp-for="AcquisitionId" asp-items="Model.Acquisitions" class="form-control" required></select>
        <span asp-validation-for="AcquisitionId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="LocationId">Location</label>
        <select asp-for="LocationId" asp-items="Model.Locations" class="form-control" required></select>
        <span asp-validation-for="LocationId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="AssociateId" value="@Model.AssociateId" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
