<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Add Choice Page">
    <meta name="author" content="Your Name">
    <title>Добави</title>
    <link rel="stylesheet" href="~/css/Administrator/AddChoice.css" />
</head>
<body>
    <div class="choice-container">
        <h1 class="title">Какво би желал да добавиш?</h1>
        <div class="button-group">
            <a href="/Employee/AddEvent" class="choice-button">Добави събитие</a>
            <a href="/Associate/AddExhibit" class="choice-button">Добави експонат</a>
            <a href="/Associate/AddCollection" class="choice-button">Добави колекция</a>
        </div>
    </div>
</body>
</html>
